<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div th:replace="fragments::upper-nav-login"></div>
    <div th:replace="fragments::side-bar-user"></div>
    <div class="new-container">
        <div class="card col-md-10 offset-md-1" style="margin-top: 20px">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">AppointmentId</th>
                        <th scope="col">Date</th>
                        <th scope="col">Doctors Name</th>
                        <th scope="col">Status</th>
<!--                        <th scope="col">Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appointment: ${appointments}">
                        <th scope="row" th:text="${appointment.id}"></th>
                        <td th:text="${appointment.date}"></td>
                        <td th:text="${appointment.doctor.user.name}"></td>
                        <td th:text="${appointment.status}"></td>
<!--                        <td>-->
<!--                            <a th:href="@{'/user/make-appointment/'+${doctor.id}}"  class="btn bg-primary btn-sm">Appointment</a>-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>

</body>
</html>