<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div th:replace="fragments::upper-nav-login"></div>
    <div class="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="my-card mt-3">

                        <!--                                                alert message-->
                        <div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert">
                            <p th:text="${message.content}"></p>
                        </div>


                        <h1 class="text-center">Complete Your Profile</h1>
                        <form th:action="@{'/doctor/doApplyHospital'}" method="post" th:object="${timeSchedule}">
                            <select name="hospital" class="form-select mb-2" aria-label="Default select example" required>
                                <option value="">Register as a</option>
                                <option th:each="hospital: ${hospitalsList}" th:value="${hospital.id}" th:text="${hospital.user.name}"></option>
                            </select>
                            <div class="mb-3">
                                <label for="inputContact" class="form-label">Your</label>
                                <input type="time"
                                       class="form-control"
                                       id="inputContact"
                                       placeholder="Enter Here"
                                       name="startScheduleTime">
                            </div>
                            <div class="mb-3">-->
                                <label for="inputEndTime" class="form-label">Your</label>
                                <input type="time"
                                       class="form-control"
                                       id="inputEndTime"
                                       placeholder="Enter Here"
                                       name="endScheduleTime">
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn bg-primary text-white">Submit</button>
                                <button type="reset" class="btn btn-warning text-white">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>